@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MTSSans';
  src: url('./fonts/MTS-Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-blue: #bbc6f2;
  --azure: #00bdfd;
  --success-green: #5ab828;
  --success-light: #4bd700;
  --success-muted: #4da41e;
  --error-red: #f91717;
  --yellow: #fff500;
  --white: #ffffff;
  --grey-light: #f1f3f6;
  --grey-medium: #777b8b;
  --black_07: rgba(0, 0, 0, 0.7);
  --purple-darkest: #0f0219;
  --black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }

  .customScrollbar {
    scrollbar-width: thin;
  }
}

.ov-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

input {
  border: none;
  padding: 0;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 13px;
    color: var(--grey-medium);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

html,
body,
#root {
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body,
#root {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
